.THIS {
    margin:30px 5px 15px 30px;
}
.THIS .slds-input{
    width: 25%
}
.THIS .datePicker-openIcon{
    width: 78%
}
.THIS .message{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    display:block;
}

.THIS .outputDate{
    font-size: 14px;
    letter-spacing:-1px;
    width:400px;
    margin:0 auto;
    display:block;
}
.THIS .contactDept{
    background-color: #CDDDEF;
    text-align: center;
    border: 1px  solid;
    font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
    color: #4B7AB0;
    letter-spacing: normal;
    font-style: normal;
    line-height: normal;    
}
.THIS .contact
    {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #404040;
    
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 0px;
    vertical-align: middle;
    /*border-top: 1px solid #6699CC;*/
    border-left: 1px solid #6a9ac9;
    border-right: 1px solid #6a9ac9;
}
.THIS .total{
    font-weight: bold;
    background-color: #EBF4FE;
    border-top: 1px solid #6a9ac9;
    border-left: 1px solid #6a9ac9;
    /*border-bottom: 1px solid #6a9ac9;
    border-right: 1px solid #6699CC;*/
    text-align: center;
}
.THIS .hourCellsOrange{
    position: relative;
    top: 0px;
    left: 8px;
    width:50px;
    height:30px;
    text-align: center;
    min-height: calc(1rem + 2px);
    color: Orange;
    font-weight: bold;
    padding: 0px 0px;
}
.THIS .hourCells{
    width:50px;
    height:30px;
    min-height: calc(1.125rem + 2px);
    padding: 0px 0px;
    text-align: center;
    color:black
}
.THIS .hourCellsError{
    width:50px;
    height:30px;
    min-height: calc(1.125rem + 2px);
    background-color:red;
    padding: 0px 0px;
    text-align: center;
    font-weight: bold;
    color: #003366;
}
 .THIS .outputURL{
        text-decoration:none;
        color: #4180db;
}
.THIS .smallTable{
        border:1px #6a9ac9 solid;
        width: 100%;            
        border-collapse:separate;
        border-spacing: 3px;
    }
.THIS .uiButton{
    font-weight: bold;
    font-size: 14px;
}
.THIS .required {
    font-weight: bold;
    font-size:16px;
    float: inherit;
}