<apex:page controller="AccessServer" showHeader="false" sidebar="false">    
    <apex:form id="frm">
        <apex:pageMessages />
        <apex:pageMessage severity="ERROR" title="Insufficient privileges" detail="Enable 'Authorize my IP' permission to use this feature" strength="3" rendered="{!!$Permission.Authorize_my_IP}"/>
        <apex:actionFunction action="{!init}" name="init" status="status" rerender="frm" rendered="{!$Permission.Authorize_my_IP}"/>
        <apex:actionFunction name="init" rerender="frm" rendered="{!!$Permission.Authorize_my_IP}"/>
        <apex:actionStatus id="status">
            <apex:facet name="start"><br/><br/><br/><center><img src="{!$Resource.Animated_Loading}"/></center></apex:facet>
            <apex:facet name="stop"></apex:facet>
        </apex:actionStatus>
    </apex:form>
    <body onload="javascript:init();"/>
</apex:page>