<apex:page standardStylesheets="false" standardController="Contact" sidebar="false" showheader="false"> 


    <!-- TimbaBOX Container -->
    <body>
    <div id="timbaBox_Container"></div>
    </body> 

    <script>
        var currentObjId = "{!Contact.id}";
        var FirstName = "{!$User.FirstName}";
        var LastName = "{!$User.LastName}"; 
        var CompanyName = "{!$User.CompanyName}";
        var sessionId = "{!$Api.Session_ID}";
        var URL = "{!$CurrentPage.URL}";
    </script>

    <script language="javascript" src="https://timbaboxes-developer-edition.na10.force.com/resource/1271683634000/timbaboxes/js/inc.js"></script>


</apex:page>