<!-- /******************************************************************************* 
Name              : ReportRecurrentJobWHCtrl
Description       : 
Revision History  :-
Created/Modified by   Created/Modified Date     Requested by          Related Task/Issue             
----------------------------------------------------------------------------------------
1. Mendy               07/01/2015                  Yaara                 [SW-11747]
2. Jenny               11/07/2017                  Yaara                 [SW-25619]
*******************************************************************************/-->
<apex:page controller="ReportRecurrentJobWHCtrl" showHeader="false" tabstyle="Work_hours__c">
    <apex:form id="frm">
        <apex:pageMessages />
        <apex:outputPanel id="pan">
            <script type="text/javascript">
                /*window.onload = function(e){

                }
                var p_domain = 'https://servicewise--devlight.lightning.force.com';///one/one.app#/n/Working_Hours_Screen_lightning';
                window.addEventListener("message", function(event){
                    debugger;
                    alert('innnn');
                    console.log(event);

                  //event.source.postMessage("hi there yourself!  the secret response " +
                                           //"is: rheeeeet!",
                                           //event.origin);
                }
                 ,false);*/
                function CloseTab()
                {
                    if("{!isError}" == "false"){
                        debugger;
                        /*if ((typeof sforce != 'undefined') && sforce && (!!sforce.one)) {
                             // Manage navigation in Salesforce Classic
                            window.opener.href = window.opener.href;
                            window.close();
                        }
                        else {*/
                            /*console.log(window.parent);
                            console.log(parent);
                            try{
                                parent.postMessage('hiiii',p_domain);
                            }catch(e){
                                alert(e);
                            }*/
                            //window.close();
                            // Manage navigation in Lightning Experience & Salesforce1
                            //var url = location.href;
                            //var lexOrigin = url.substring(0, url.indexOf('/', 14));
                            //window.opener.postMessage('messageFromReportRecurrentJobWHCtrl', location.host);
                            sforce.one.back(true);
                        //}
                        //window.close();
                    }
                }
            </script>
        </apex:outputPanel>
        <apex:sectionHeader subtitle="Project - {!proj.Name}" title="Report Working Hours"/>
        <apex:pageBlock title="{!$User.FirstName} {!$User.LastName}" mode="edit">
            <apex:pageBlockButtons id="buttons" style="height:50px;">
                <apex:commandButton action="{!Save}" value="Save" oncomplete="CloseTab();" rerender="frm"/>
                <apex:commandButton onclick="window.close();" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="Details" title="Details" columns="1" collapsible="false">
                <apex:inputField value="{!wh.From_Date__c}" style=" border-left: 3px solid #CC0000;"/>
                <apex:inputField value="{!wh.To_Date__c}" style=" border-left: 3px solid #CC0000;"/>
                <apex:inputCheckbox label="All Week" value="{!allWeek}" onChange="setDays();"/>
                <apex:inputField value="{!wh.Travel_way__c}" rendered="{!!isDayOff}"/>
                <apex:inputField value="{!wh.AbsenceReason__c}" rendered="{!isDayOff}"/>
                <apex:inputField value="{!wh.Hours__c}" required="false" style=" border-left: 3px solid #CC0000;"/>
                <apex:inputField value="{!wh.Customer_Description__c}"  rendered="{!!isDayOff}" style="width: 300px; border-left: 3px solid #CC0000;"/>
                <apex:inputField value="{!wh.Description__c}" style="width: 300px;"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:actionFunction name="setDays" action="{!SetDays}" rerender="Details" status="waitStatus"/>
    </apex:form>
</apex:page>