<apex:page standardController="SFDC_Issue__c">
    <flow:interview name="Report_Working_hours_from_issue" finishLocation="/{!SFDC_Issue__c.Id}">
        <apex:param name="VaIssueID" value="{!SFDC_Issue__c.Id}"/>
    </flow:interview>
</apex:page>