.THIS .uiButton .img {
    background: url('/resource/1420638932000/repiete') no-repeat;
    padding: 8px;
    background-position: 1px;
    background-repeat: no-repeat;
    text-decoration: none; 
}

.THIS .btn {
    text-decoration: none;
}